<style>
    h1 {
        border-bottom: 3px solid #cc9900;
        font:2.75em/1.75em Georgia, serif;
        color: #996600;
    }
    h2 {
        font: 2.0em/1.75em Georgia, serif;
        color:black
    }
    h3 {
        border-bottom: 1px dotted;
        font: bold 2.0em/1.75em Georgia, serif;
        color:black
    }
    ul {
        list-style-type: square;
        position: sticky;
        font: 1.85em/1.75em Georgia, serif;
        
    }
    p,i {
        font: 1.75em/1.75em Georgia, serif;
    }


    body {
        margin: 0;
        padding: 5em;
        background-color: #ffffff;
        font: 90%/2.0em "Trebuchet MS", Verdana, sans-serif;
        color: black;
        cursor: auto;
    }

    #list {
        margin: 1em 0 7em -3em;
        padding: 1em 0 0 0;
        background-color: #ffffff;
        color: #996600;
        width: 25%;
        float: left
        
    }

    #header, #footer {
        margin: 0;
        padding: 5%;
        color: black;
    }
      

</style>

<!DOCTYPE html>
    @*<div class="header">This is header text.</div>*@
<html>

<head>
    <title>Main Page</title>
<link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <h1 style="color:black">Air Quality Index</h1>
    </div>
    <div>
        <h2>What You Should Know About Air Quality </h2>

    </div>

    <div style="float:left; width:20%">
       
        <ul style="left:auto">
            <li> <a name="What is AQI">What is AQI?</a></li>
            <li><a name="Health Effects"> Health Effects</a></li>
            <li><a name="Top Pollutants"> Top Pollutants</a></li>
            
        </ul>
    </div>
    <div style="float:left; width:75%; margin-left:30px">
        <a><h3>What is AQI? </h3></a>
        <p>
            The AQI is an index for reporting daily air quality. It tells
            you how clean or unhealthy your air is, and what associated health effects might be a concern. The AQI focuses on
            health effects you may experience within a few hours or days
            after breathing unhealthy air.
        </p>
        <div style="shape-image-threshold:inherit">
            <img src="https://media2.s-nbcnews.com/j/newscms/2019_23/2426541/180509-running-outdoors-al-1053_03d49897608e025971ef03b3f46aea2f.fit-760w.jpg" height="400" width="750" />
        </div>
        <h3 style="left:initial">Health Effects</h3>

        <p>
            Local air quality affects how you live and breathe. Like the weather, it can change from day to day or even hour to hour.
        </p>
        <p class="text-uppercase">
            <b>It can:<b />
        </p>
        <i>
            <b>•Irritate the respiratory system</b>
            , causing coughing,
            throat soreness, airway irritation, chest tightness, or chest
            pain when taking a deep breath.
        </i><br />
        <i>
            <b>•Reduce lung function</b>
            , making it more difficult to breathe as deeply and vigorously as you normally would, especially when exercising. Breathing may start to feel uncomfortable, and you may notice that you are taking more rapid and shallow breaths than normal.
        </i>
        <br />
        <i>
            <b>•Inflame and damage the cells that line the lungs.</b><br />
            <b>
                • Make the lungs more susceptible to infection.
            </b>
        </i>
        <i>Ozone reduces the lung’s defenses by damaging the cells that move particles and bacteria out of the airways and by reducing the number and effectiveness of white blood cells in the lungs.</i><br />
        <i>
            <b>• Aggravate asthma.</b>
            When ozone levels are unhealthy,more people with asthma have symptoms that require a doctor’s attention or the use of medication. Ozone makes people more sensitive to allergens—the most common triggers for asthma attacks.
        </i>

        <h3 style="left:initial">Top Pollutants</h3>
        <p><b>Ozone</b></p>
        <p>
            Ground level ozone is produced when emissions from vehicles, power plants, industrial boilers and other fossil fuel burning facilities react with sunlight. It often forms in warmer months when there is more sunlight, and peaks during rush hour when many cars are on the road.<br />
            Each year, ozone causes about 400 premature deaths, more than 800 hospital visits.
        </p>

        <p><b>Particular Matter</b></p>
        <p>Particulate matter (PM) refers to small particles, both solid and liquid, that can enter the lungs and cause respiratory problems. PM2.5 can penetrate deep into the lungs, enter the bloodstream, and move to other organs. It can cause coughing, wheezing, shortness of breath, palpitations, and fatigue; it can also aggravate asthma and chronic bronchitis, and has been linked to cardiac arrhythmia and heart attacks.<p />

        <p><b>Carbon monoxide</b></p>
        <p>Carbon monoxide—a colorless, odorless gas—forms when carbon does not burn completely. Most carbon monoxide pollution comes from vehicles, but it is also caused by industrial combustion, wood burning stoves and wildfires. Because carbon monoxide decreases the amount of oxygen reaching the body’s organs, it can cause flu-like symptoms and chest pain in those with cardiovascular disease. High levels of carbon monoxide can result in dizziness, blurred vision and confusion; very high levels can cause death.</p>

        <p><b>Sulfur dioxide</b></p>
        <p>Sulfur dioxide is produced when coal and oil fuels containing sulfur are burned in power plants and refineries. When physical exertion necessitates mouth breathing, sulfur dioxide can cause wheezing, shortness of breath and tightness in the chest. Long-term exposure can aggravate asthma and other chronic lung and cardiovascular diseases. Sulfur dioxide also contributes to the formation of particulate matter.</p>
        
        </body>
</html>



