@model RouteFinder.Models.RouteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Under Construction...</h1>
        <p>Deal with it</p>
    </div>
</body>
</html>
